[submodule "dependencies/bjutil"]
	path = dependencies/bjutil
	url = ./bjutil.git
[submodule "dependencies/gdsl-toolkit"]
	path = dependencies/gdsl-toolkit
	url = gdsl/gdsl-toolkit.git
[submodule "dependencies/googletest"]
	path = dependencies/googletest
	url = https://github.com/google/googletest.git
