build:
  stage: build
  # instead of calling g++ directly you can also use some build toolkit like make
  # install the necessary build tools when needed
  #before_script: 
  #  - sudo apt update && sudo apt -y install cmake
  script:
    - git submodule init
    - git submodule update
    - mkdir build
    - cd build
    - export CXX=clang++
    - export CC=clang
    - cmake ..
    - make
  artifacts:
    paths:
      - exec/tester/tester
  # depending on your build setup it's most likely a good idea to cache outputs to reduce the build time
  cache:
     paths:
      - "*.o"

# run tests using the binary built before
#test:
  stage: test
  script:
    - build/exec/tester/tester
