[submodule "dependencies/bjutil"]
	path = dependencies/bjutil
	url = ../bjutil.git
[submodule "dependencies/gdsl-toolkit"]
	path = dependencies/gdsl-toolkit
	url = https://github.com/gdslang/gdsl-toolkit.git
[submodule "dependencies/googletest"]
	path = dependencies/googletest
	url = https://github.com/google/googletest.git
[submodule "dependencies/fmt"]
	path = dependencies/fmt
	url = https://github.com/fmtlib/fmt.git
