/build/

/summy
/output.dot
/output_noa.dot
/output_machine.dot
/a.out

/test_functions
/test_functions.o
/test_functions_ref
/test_functions_ref.o
/test_malloc
/test_malloc.o
/test_malloc2
/test_malloc2.o
/test_malloc_icall
/test_malloc_icall.o
/test_malloc_icall2
/test_malloc_icall2.o
/test_malloc_icall_no_back
/test_malloc_icall_no_back.o
/test_new
/test_new.o
/test_printf
/test_printf.o
/test_recursive
/test_recursive.o
/test_ufptr
/test_ufptr.o
/test_ufptr_2
/test_ufptr_2.o
/test_ufptr_3
/test_ufptr_3.o
/test_ufptr_4
/test_ufptr_4.o
/test_vcall
/test_vcall.o
/test_list_traverse
/test_list_traverse.o
/test_multiple_deref
/test_multiple_deref.o
